.status-container{
    display:flex;
    align-items: center;
    font-size: 16px;
    border: 0.75px solid rgb(118, 118, 118);
    width:fit-content;
    padding:5px;
    border-radius: 10px;
}

.customer-details-content{
    display:flex;
    position: relative;
}

.status-container img{
    max-height:15px;
    max-width: 15px;
    margin-right:5px;
}