.navbar-container{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 0px;
}

.navbar-logo-content{
    display:flex;
    align-items: center;
    width:fit-content;
}

.navbar-logo-content img{
    width:25px;
    height:25px;
}

.navbar-logo-content h2{
    font-size: 1.45rem;
    margin-left: 5px;
}

.navbar-images-container{
    width:fit-content;
}

.navbar-images-container img{
    width:20px;
    height:20px;
    margin-right:10px;
    cursor: pointer;
    transform: scale(1.0);
    transition:0.2s;
}

.navbar-images-container img:hover{
    transform: scale(1.2);
}