.customer-avatar-container{
    display:flex;
    align-items: center;
    margin-top:10px;
}

.customer-avatar{
    border: 0.75px solid rgb(118, 118, 118);
    width: 100px;
    height:100px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right:7px;
}

.customer-avatar-content p:nth-child(2){
    margin:7px 0px;
}


.file-input {
    display: none;
}

.file-input-label {
    display: inline-block;
    padding: 5px 7px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.file-input-label:hover {
    background-color: #0056b3;
}

.customer-details-top-content{
    display:flex;
    align-items: center;
}

.status-container{
    padding:0px 5px;
}